<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.dese100.gitjob.repository.CustomerPasswordMapper">
	<resultMap type="com.dese100.gitjob.domain.CustomerPassword"
		id="BaseResultMap">
		<id column="Id" jdbcType="BIGINT" property="id" />
		<result column="CustomerId" jdbcType="BIGINT" property="CustomerId" />
		<result column="Password" jdbcType="VARCHAR" property="password" />
		<result column="PasswordFormatId" jdbcType="INTEGER" property="passwordFormatId" />
		<result column="PasswordSalt" jdbcType="VARCHAR" property="passwordSalt" />
		<result column="CreatedOnUtc" jdbcType="DATE" property="createdOnUtc" />
	</resultMap>
	<sql id="Base_Column_List">
		Id,CustomerId, Password,
		PasswordFormatId, PasswordSalt,CreatedOnUtc
	</sql>
	<insert id="InsertCustomerPassword" useGeneratedKeys="true" keyProperty="id">
		insert into customer_password (Id,
		CustomerId, Password,
		PasswordFormatId, PasswordSalt,CreatedOnUtc)
		values (#{id,jdbcType=BIGINT},
		#{customerId,jdbcType=BIGINT},
		#{password,jdbcType=VARCHAR},
		#{passwordFormatId,jdbcType=INTEGER}, #{passwordSalt,jdbcType=VARCHAR},#{createdOnUtc,jdbcType=DATE})
	</insert>
</mapper>